<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Airport Layout</title>
    <style>
      svg {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
      }
      .gate {
        fill: blue;
      }
      .airport {
        fill: honeydew;
      }
      .terminal {
        fill: #aaa;
        opacity: 0.6;
      }
      text {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1
      th:text="'Welcome to ' + ${layout.name} + ' Airport in ' + ${layout.city} + ', ' + ${layout.country}"
    >
      Airport Info
    </h1>

    <h2>Terminals</h2>
    <ul>
      <li th:each="entry : ${layout.terminals}">
        <p>
          <strong
            th:text="'Terminal ' + ${entry.key} + ': ' + ${entry.value.name}"
          ></strong
          ><br />
          UUID: <span th:text="${entry.value.uuid}"></span><br />
          Airport: <span th:text="${entry.value.airport}"></span>
        </p>

        <h4>Entrances</h4>
        <ul>
          <li th:each="gate : ${entry.value.entrances}">
            <span th:text="'Gate UUID: ' + ${gate.uuid}"></span>
          </li>
        </ul>

        <h4>Points of Interest</h4>
        <ul>
          <li th:each="poiEntry : ${entry.value.poi}">
            <span th:text="'POI UUID: ' + ${poiEntry.key}"></span> -
            <span th:text="${poiEntry.value.name ?: 'Unnamed POI'}"></span>
          </li>
        </ul>

        <h4>Gates</h4>
        <ul>
          <li th:each="gateEntry : ${entry.value.gates}">
            <span th:text="'Gate UUID: ' + ${gateEntry.key}"></span><br />
            Name:
            <span th:text="${gateEntry.value.name ?: 'Unnamed Gate'}"></span>
          </li>
        </ul>
      </li>
    </ul>
  </body>
</html>
